@font-face {
    font-family: 'lexenddeca';
    src: url('Lexend_Deca/static/LexendDeca-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'lexenddeca';
    src: url('Lexend_Deca/static/LexendDeca-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'lexenddeca';
    src: url('Lexend_Deca/static/LexendDeca-Medium.ttf');
    font-weight: 300;
}

#parent{
    display: flex;
    margin: 5px;
}

#sidebar{
    padding-left: 30px;
    width: 180px;
    position: fixed;
}

.title {
    margin-bottom: 0;
}

.sidebar-links {
    margin-top: 15px; 
    font-family: 'lexenddeca';
    font-weight: 200;
    font-size: 20px;
    padding-left: 0;
}

.sidebar-links a:hover {
    background-color: #FFD933;
}

.about-links {
    font-family: 'lexenddeca';
    font-weight: 200;
    font-size: 15px;
    padding-left: 0; 
    text-decoration: underline;
}

.link-icon img {
    max-height: auto; 
    width: 2em;
    margin-right: 10px;
}

.link-icon .indiv-icon {
    display: flex;
    align-items: center; /* Center items vertically within indiv-icon */
    margin-bottom: 5px; /* Add margin between indiv-icon elements */
}

.link-icon a:hover {
    text-decoration: underline ;
}

.link-icon a {
    display: flex;
    align-items: center; /* Center items vertically within the anchor tags */
    margin-bottom: 10px; /* Add margin between anchor tags */
}

.link-icon {
    font-family: 'lexenddeca';
    font-weight: 200; 
    display: flex;
    flex-direction: column;
}

ul li {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 10px; 
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    /* background-color: #FFD933; */
    /* color: red; */
}

#content{
    margin: 20px;
    margin-left: 260px;
    margin-right: 40px;
}

h1 {
    font-family: 'lexenddeca';
    font-weight: 500;
    font-size: 45px;
}

h2 {
    font-family: 'lexenddeca';
    font-weight: 400;
    margin-top: 0px;
}

h3 {
    font-family: 'lexenddeca';
    font-weight: 400;
    margin-top: 0px;
}

p {   
    font-family: 'lexenddeca';
    line-height: 22px;
    font-weight: 200;
}

.float-container {
    padding: 20px;
}

.float-child {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: none;
    padding-bottom: 20px;
    /* border: 2px solid red; */
}

.video {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (height/width) */
    max-height: 600px; /* Set a maximum height for the video container */
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.me {
    /* max-width: 500px; */
    max-width: 100%;
    padding-bottom: 10px;
}

@media (max-width: 400px) {
    .video {
        padding-top: 75%; /* Adjust the padding-top value for the desired aspect ratio */
        max-height: none; /* Remove the maximum height on smaller screens if needed */
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 2000px) {
    .me {
        width: 90%;
    }
}

@media (max-width: 1250px) {
    .float-child {
        width: 100%; /* Set width to 100% for smaller screens */
        float: none; /* Clear the float to stack the divs */
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 1;
    padding: 0 4px;
    /* box-sizing: border-box; */
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    max-width: 340px;
}
/* 
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 340px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container {
    position: relative;
    overflow: hidden;
}

.container:hover .overlay {
    opacity: 1;
    width: 340px;
}

.text {
    font-family: 'lexenddeca';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

